{% extends 'base/base.html' %}
{% load static %}

{% block contenido_wasap %}
    <main class="contenedor-wasap">
        <section class="section-wasap-izquierdo">
            <h1>Seccion izquierda</h1>
            <!--Offcanvas de perfil-->
            <button class="toggle-offcanvas">Abrir Offcanvas de perfil</button>

            <!--Offcanvas de Comunidad-->
            <button class="toggle-offcanvas-comunidad">Abrir Offcanvas de comunidades</button>

            <!--Offcanvas de Mensajes-->
            <button class="toggle-offcanvas-mensajes">Abrir Offcanvas Mensajes</button>
            <!--Opciones-->
            
        </section>

        <section class="section-wasap-derecho">
            <h1>Seccion derecha</h1>
        </section>

        <!--Agrego este include para mostrar el offcanvas del perfil-->
        {% include 'includes/include_offcanvas_perfil.html' %}
        {% include 'includes/include_offcanvas_comunidad.html' %}
        {% include 'includes/include_offcanvas_mensajes.html' %}
        
    </main>
    {% endblock contenido_wasap %}
     
    