{% extends 'base/base.html' %}
{% load static %}

{% block contenido_wasap %}
    <main class="contenedor-wasap">
        <section class="section-wasap-izquierdo">
            
            <article class="wasap-header">
                <div class="contenedor-imagen-perfil-usuario">
                    <span class="toggle-offcanvas">
                        <img src="{% static 'img/neymar.jpg' %}" alt="" class="imagen-perfil-usuario">
                    </span>
                    
                </div>
                <div class="contenedor-iconos">
                    <span class="toggle-offcanvas-comunidad">
                        <i class="fa-solid fa-users" title="Comunidades" ></i>
                    </span>
                    <i class="fa-solid fa-bullseye" title="Estados"></i>
                    <span class="toggle-offcanvas-mensajes">
                        <i class="fa-solid fa-envelope" title="Nuevo Chat"></i>
                    </span>
                    <!--Menú desplegable-->
                    <div class="dropdown">
                        <span class="dropdown-toggle">
                            <i class="fa-solid fa-ellipsis-vertical" title="Menú"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <li>Nuevo grupo</li>
                            <li>Nueva comunidad</li>
                            <li>Archivados</li>
                            <li>Mensajes destacados</li>
                            <li>Seleccionar chats</li>
                            <li>Configuración</li>
                            <li>Cerrar Sesión</li>
                        </ul>
                    </div>
                    
                </div>
                
            </article>




            <article class="wasap-textarea">
                <div class="contenedor-header">
                    <div class="contenedor-icono-1">
                        <i class="fa-solid fa-magnifying-glass" ></i>
                        
                    </div>

                    <div class="contenedor-textarea">
                        <textarea name="" id="" placeholder="Busca un chat o inicia uno nuevo." class="custom-textarea"
                        ></textarea>
                    </div>
                    <div class="contenedor-icono-2">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </article>





            <article class="wasap-chats">
                <h1>Wasap chats</h1>
            </article>
            
            <!--Opciones-->
            
        </section>

        <section class="section-wasap-derecho">
            <h1>Seccion derecha</h1>
        </section>

        <!--Agrego este include para mostrar el offcanvas del perfil-->
        {% include 'includes/include_offcanvas_perfil.html' %}
        {% include 'includes/include_offcanvas_comunidad.html' %}
        {% include 'includes/include_offcanvas_mensajes.html' %}
        
    </main>
    {% endblock contenido_wasap %}
     
    