{% extends 'base/base.html' %}
{% load static %}

{% block contenido_wasap %}
    <main class="contenedor-wasap">
        <section class="section-wasap-izquierdo">
            
            <article class="wasap-header">
                <div class="contenedor-imagen-perfil-usuario">
                    <span class="toggle-offcanvas">
                        <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-perfil-usuario">
                    </span>
                    
                </div>
                <div class="contenedor-iconos">
                    <span class="toggle-offcanvas-comunidad">
                        <i class="fa-solid fa-users" title="Comunidades" ></i>
                    </span>
                    <i class="fa-solid fa-bullseye" title="Estados"></i>
                    <span class="toggle-offcanvas-mensajes">
                        <i class="fa-solid fa-envelope" title="Nuevo Chat"></i>
                    </span>
                    <!--Menú desplegable-->
                    <div class="dropdown">
                        <span class="dropdown-toggle">
                            <i class="fa-solid fa-ellipsis-vertical" title="Menú"></i>
                        </span>
                        <ul class="dropdown-menu">
                            <li>Nuevo grupo</li>
                            <li>Nueva comunidad</li>
                            <li>Archivados</li>
                            <li>Mensajes destacados</li>
                            <li>Seleccionar chats</li>
                            <li>Configuración</li>
                            <li>Cerrar Sesión</li>
                        </ul>
                    </div>
                    
                </div>
                
            </article>




            <article class="wasap-textarea">
                <div class="contenedor-header">
                    <div class="contenedor-icono-1">
                        <i class="fa-solid fa-magnifying-glass" ></i>
                        
                    </div>

                    <div class="contenedor-textarea">
                        <textarea name="" id="" placeholder="Busca un chat o inicia uno nuevo." class="custom-textarea"
                        ></textarea>
                    </div>
                    <div class="contenedor-icono-2">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </article>





            <article class="wasap-chats">
                <div class="contenedor-chat">
                    <div class="contenedor-imagen-contacto">
                        <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-contacto">
                    </div>
                    <div class="contenedor-informacion-contacto">
                        <h1 class="nombre-contacto">Nombre de contacto</h1>
                        <div class="ultimo-mensaje-visto">
                            <i class="fa-solid fa-check"></i>
                            <p>Ultimo mensaje</p>
                        </div>
                    </div>
                    <div class="opciones-contacto">
                        <p>10:00</p>
                        <i class="fas fa-chevron-down"></i>
                        <div class="dropdown-content">
                            <li>Archivar chat</li>
                            <li>Silenciar notificaciones</li>
                            <li>Eliminar chat</li>
                            <li>Fijar chat</li>
                            <li>Marca como no leído</li>
                            <li>Bloquear</li>
                        </div>
                    </div>
                </div>
            </article>
            
            
            
        </section>

        <section class="section-wasap-derecho">
            <article class="contenedor-chat-contacto">
                <div class="contenedor-imagen-contacto-chat">
                    <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-contacto-chat">
                </div>
                <div class="contenedor-nombre-contacto">
                    <h1>Nombre del contacto</h1>
                </div>
                <div class="contenedor-iconos-chat">
                    <i class="fa-solid fa-video"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </article>
            
        </section>

        <!--Agrego este include para mostrar el offcanvas del perfil-->
        {% include 'includes/include_offcanvas_perfil.html' %}
    <!--Agrego este include para mostrar el offcanvas de Comunidades-->
        {% include 'includes/include_offcanvas_comunidad.html' %}
        <!--Agrego este include para mostrar el offcanvas de Mensajes-->
        {% include 'includes/include_offcanvas_mensajes.html' %}
        
    </main>
    {% endblock contenido_wasap %}
     
    