body{
    padding: 0;
    margin: 0;
    height: 0;
}


.contenedor-wasap{
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}



.section-wasap-derecho{
    width: 70%;
}


/* Estilos para el wasap header*/
.section-wasap-izquierdo{
    width: 30%;
}

.wasap-header{
    width: 100%;
    height: 10%;
    margin-top: 10px;
    display: flex;
    background-color: rgba(175, 248, 224, 0.219);
}

.contenedor-imagen-perfil-usuario{
    width: 20%;
}

.imagen-perfil-usuario{
    margin: 5px;
    padding-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    transition: box-shadow 0.3s;
}
.imagen-perfil-usuario:hover{
    cursor: pointer;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

.contenedor-iconos{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.contenedor-iconos i{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    color: rgb(83, 83, 83);
    font-size: 25px;
    transition: color .3s;
    cursor: pointer;
    transition: box-shadow, color 0.3s;
}

.contenedor-iconos i:hover{
    cursor: pointer;
    color: rgb(37, 37, 37);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}


/* Dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -250%;
    width: 320%;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: max-height 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdown.open .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.438);
    max-height: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}

.dropdown-menu li {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-menu li:hover {
    background-color: #e0dfdf;
}

/* Dropdown de chats*/


.dropdown-content {
    width: 250px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0; /* Ajustamos el padding */
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.6s ease, transform 0.6s ease, visibility 0.6s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
}

.dropdown-content li{
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    list-style: none;
}

.dropdown-content li:hover{
    background-color: #e0dfdf;
}
.opciones-contacto.open .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}




/* Contenedor textarea */

.wasap-textarea{
    width: 95%;
    height: 10%;
    margin: 10px auto;
}

.contenedor-header{
    height: 100%;
    display: flex;
}

.contenedor-icono-1{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(175, 248, 224, 0.219);
}

.contenedor-icono-1 i{
    font-size: 20px; 
    transition: font-size 0.3s ease-in-out;
}

.contenedor-icono-1 i:hover{
    cursor: pointer;
    font-size: 25px; 
}

.contenedor-textarea{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: rgba(175, 248, 224, 0.219);
}

.contenedor-textarea textarea{
    resize: none;
    border: none;
    width: 100%;
    height: 80%;
    background-color: rgba(175, 248, 224, 0.219);
    outline: none;
}
.custom-textarea::placeholder{
    color: rgb(90, 90, 90);
    font-size: 15px;
}

.custom-textarea:focus{
    border: none;
}
.contenedor-icono-2{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-icono-2 i{
    font-size: 20px; 
    transition: font-size 0.3s ease-in-out;
}

.contenedor-icono-2 i:hover{
    cursor: pointer;
    font-size: 25px;
}


/* Estilos para los chats */

.contenedor-chat{
    display: flex;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid rgb(206, 206, 206);
    transition: box-shadow 0.3s ease-in-out;
}

.contenedor-chat:hover{
    background-color: rgba(175, 248, 224, 0.219);
    cursor: pointer;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.219);
}

.contenedor-imagen-contacto{
    width: 20%;
    overflow: hidden;
}

.imagen-contacto{
    margin: 5px;
    padding-left: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    transition: box-shadow 0.3s ease-in-out;
    max-width: 100%;
}
.imagen-contacto:hover{
    cursor: pointer;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}



.contenedor-informacion-contacto{
    width: 70%;
    
}

.contenedor-informacion-contacto h1{
    top: 0; 
    padding: 10px;
    margin: 0;
    font-family: Helvetica;
}

.ultimo-mensaje-visto{
    display: flex;
}

.ultimo-mensaje-visto i{
    top: 0; 
    padding: 10px;
    margin: 0;
}
.ultimo-mensaje-visto p{
    top: 0; 
    padding: 10px;
    margin: 0;
    
}

.opciones-contacto{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.opciones-contacto p{
    color: rgb(83, 83, 83);
    font-weight: lighter;
    
}

.contenedor-chat .fa-chevron-down {
    transform: translateX(100%); 
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }

.contenedor-chat:hover .fa-chevron-down {
    transform: translateX(0);
    opacity: 1;
  }
  .contenedor-chat .fa-chevron-down {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
  }
  
  .contenedor-chat:not(:hover) .fa-chevron-down {
    transform: translateX(100%); /* Desaparece hacia la derecha */
    opacity: 0; /* Desaparece gradualmente */
  }