.informacion-del-usuario-container {
    position: relative;
    display: flex;
    align-items: center;
}

.informacion-del-usuario-toggle-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
}

.informacion-del-usuario-panel {
    position: fixed;
    top: 0;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: white;
    color: #fff;
    transition: right 0.3s ease;
    border-left: 2px solid rgba(0, 0, 0, 0.274);
}

.informacion-del-usuario-panel ul {
    list-style: none;
    padding: 0;
}

.informacion-del-usuario-panel li {
    padding: 10px;
}

.content {
    padding: 20px;
}



/**/
.informacion-contacto{
    display: flex;
    width: 100%;

    height: 10%;
    margin-top: 10px;
    background-color: rgba(175, 248, 224, 0.219);
    justify-content: center;
    align-items: center;
}
.informacion-contacto h1{
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    left: 10px;
    color: black;
    transition: font-size 0.3s ease-in-out;
}

.close-button:hover{
    font-size: 30px;
}

/**/

.contenedor-info-contacto{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.contenedor-info-imagen-contacto{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-imagen-perfil-contacto{
    width: 200px;
    height: 200px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.info-imagen-perfil-contacto:hover{
    width: 205px;
    height: 205px;
    cursor: pointer;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.603);
}


/*contenedor del nombre de usuario*/
.contenedor-nombre-usuario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-usuario{
    color: rgba(0, 0, 0, 0.74);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}