{% load static %}
<div class="informacion-del-usuario-container">
    <div class="informacion-del-usuario-panel">




        <!-- Contenido del offcanvas -->
        <article class="informacion-contacto">
            <button class="close-button">×</button>
            <h1>Info. del contacto</h1>
        </article>
        
        
        
        
        
        
        
        <!---->
        <article class="contenedor-info-contacto">
            <div class="contenedor-info-imagen-contacto"> 
                <img src="{% static 'img/messi.jpg' %}" alt="" class="info-imagen-perfil-contacto">
            </div>
            <div class="contenedor-nombre-usuario">
                <h1 class="nombre-usuario">Nombre usuario</h1>
            </div>
        </article>



        <!---->
        <article class="contenedor-estado-contacto">
            <h1 class="estado-contacto">Acá va a ir el estado del contacto</h1>
        </article>



        <!---->
        <article class="contenedor-archivos-contacto">
            <div class="archivos-contacto">
                <h1>Archivos, enlaces y documentos</h1>
                <!--Total de archivos-->
                <p>5</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </article>





        <!---->
        <article class="contenedor-opciones-contacto">

        </article>
        
    </div>
</div>