<div class="informacion-del-usuario-container">
    <div class="informacion-del-usuario-panel">




        <!-- Contenido del offcanvas -->
        <article class="informacion-contacto">
            <button class="close-button">×</button>
            <h1>Info. del contacto</h1>
        </article>
        
        
        
        
        
        
        
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
    </div>
</div>