{% load static %}
<div class="informacion-del-usuario-container">
    <div class="informacion-del-usuario-panel">




        <!-- Contenido del offcanvas -->
        <article class="informacion-contacto">
            <button class="close-button">×</button>
            <h1>Info. del contacto</h1>
        </article>
        
        
        
        
        
        
        
        <!---->
        <article class="contenedor-info-contacto">
            <div class="contenedor-info-imagen-contacto"> 
                <img src="{% static 'img/messi.jpg' %}" alt="" class="info-imagen-perfil-contacto">
            </div>
            <div class="contenedor-nombre-usuario">
                <h1 class="nombre-usuario">Nombre usuario</h1>
            </div>
        </article>



        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
        <!---->
        <article>

        </article>
    </div>
</div>