{% load static %}
<!--Contenido del Offcanvas de Mensajes-->
<div class="offcanvas-mensajes">
    <section class="section-header">
        <article class="close-offcanvas">
            <i class="fa-solid fa-arrow-left close-offcanvas-mensajes"></i>
        </article>
        <article class="titulo">
            <h1>Nuevo chat</h1>
        </article>
    </section>
    
    
    <section class="seccion-textarea">
        <article class="contenedor-icono-offcanvas-mensajes">
            <i class="fa-solid fa-magnifying-glass"></i>
        </article>
        <article class="contenedor-textarea-offcanvas-mensajes">
            <textarea name="contacto" id="contacto" placeholder="Busca contacto"></textarea>
            <button id="clearButton" class="clear-button" style="display: none;">X</button>
        </article>
    </section>



    <section class="seccion-botones">
        <article class="contenedor-botones">
            <div class="btn-grupo">
                <i class="fa-solid fa-user-group"></i>
                <h1>Nuevo grupo</h1>
            </div>
            <div class="btn-grupo">
                <i class="fa-solid fa-users"></i>
                <h1>Nueva comunidad</h1>
            </div>
        </article>
    </section>

    <h1 class="titulo-wasap">Contactos en Wasap</h1>

    <section class="wasap-chats">
        <article class="contenedor-chat">
            <div class="contenedor-imagen-contacto">
                <img src="{% static 'img/messi.jpg' %}" alt="" class="imagen-contacto">
            </div>
            <div class="contenedor-informacion-contacto">
                <h1 class="nombre-contacto">Contacto 1</h1>
            </div>
        </article>
    </section>


    
</div>