{% load static %}

<!--Contenido del Offcanvas de perfil de usuario-->
<div class="offcanvas">
    
    <section class="section-header">
        <article class="close-offcanvas">
                <i class="fa-solid fa-arrow-left"></i> 
        </article>
        <article class="titulo">
            <h1>Perfil</h1>
        </article>
    </section>



    <section class="contenedor-perfil">
        <img src="{% static 'img/messi.jpg' %}" alt="">
        <button class="boton-cambiar">CAMBIAR FOTO DE PERFIL</button>
    </section>



    <section>

    </section>
</div>