<!--Contenido del Offcanvas de Mensajes-->
<div class="offcanvas-mensajes">
    <section class="section-header">
        <article class="close-offcanvas">
            <i class="fa-solid fa-arrow-left close-offcanvas-mensajes"></i>
        </article>
        <article class="titulo">
            <h1>Nuevo chat</h1>
        </article>
    </section>
    
    
    <section class="seccion-textarea">
        <article class="contenedor-icono-offcanvas-mensajes">
            <i class="fa-solid fa-magnifying-glass"></i>
        </article>
        <article class="contenedor-textarea-offcanvas-mensajes">
            <textarea name="contacto" id="contacto" placeholder="Busca contacto"></textarea>
            <button id="clearButton" class="clear-button" style="display: none;">X</button>
        </article>
    </section>
    <section>

    </section>
    <section>

    </section>
</div>