{% load static %}

<!--Contenido del Offcanvas de perfil de usuario-->
<div class="offcanvas">
    
    <section class="section-header">
        <article class="close-offcanvas">
                <i class="fa-solid fa-arrow-left"></i> 
        </article>
        <article class="titulo">
            <h1>Perfil</h1>
        </article>
    </section>



    <section class="contenedor-perfil">
        <img src="{% static 'img/messi.jpg' %}" alt="">
        <button class="boton-cambiar">CAMBIAR FOTO DE PERFIL</button>
    </section>



    <section class="informacion-usuario">
        <article class="usuario-container">
            <div class="tu-nombre">
                <h1>
                    Tu nombre
                </h1>
            </div>

            <div class="usuario">
                <h1>
                    David Forastier
                </h1>
                <i class="fa-solid fa-pencil pincel"></i>
            </div>
        </article>


        <article class="usuario-container">
            <div class="tu-nombre">
                <h1>
                    Info.
                </h1>
            </div>

            <div class="usuario">
                <h1>
                    Acá va un estado.
                </h1>
                <i class="fa-solid fa-pencil"></i>
            </div>
        </article>

        
    </section>
</div>